* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid black; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1520px;
    margin: auto;
}

:root {
    --black: rgb(0, 0, 0);
    --red: rgb(182, 29, 41);
    --hover: rgb(239, 62, 66);
    --pink: rgb(244, 83, 105);
    --gray: rgb(232, 236, 241);
    --white: rgb(255, 255, 255);
    --black-second: rgb(46, 49, 49);
    --light-gray: rgb(244, 244, 244);
    --light-gray-second: rgb(249, 250, 251);
}

.first {
    width: 100%;
    height: 425px;
    margin-top: 2px;
    font-size: 20px;
    position: relative;
    padding: 75px 0 0 165px;
    background-color: var(--gray);
    font-family: Arial, Helvetica, sans-serif;
}

.firstsclft {
    width: 400px;
    cursor: default;
    line-height: 44px;
    color: var(--black-second);
}

.firstscuppart:hover .sliderone {
    transform: scale(1.05);
}

.firstscbtn {
    width: 280px;
    height: 55px;
    border: none;
    cursor: pointer;
    font-size: 19px;
    transition: 0.4s;
    margin-top: 20px;
    border-radius: 8px;
    color: var(--white);
    background-color: var(--pink);
}

.firstscbtn:hover {
    background-color: var(--hover);
}

.firstscuppart {
    display: flex;
    justify-content: space-between;
}

.sliderone {
    width: 289px;
    height: 289px;
    transition: 0.3s;
    margin-top: -44px;
    margin-right: 310px;
}

.firstsclwpart {
    height: 228px;
    width: 1186px;
    display: flex;
    padding: 0 20px;
    margin-top: 25px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: var(--light-gray-second);
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.105);
}

.firstsclwpart div {
    width: 202px;
    height: 164px;
    border-radius: 8px;
    background-color: var(--white);
}

.second {
    width: 100%;
    height: 500px;
}

.purseicon {
    width: 60px;
    height: 62px;
    margin-top: -30px;
}

.firstsclwpart p {
    font-size: 16px;
}

.firstsclwpart div {
    gap: 12px;
    display: flex;
    transition: 0.5s;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.481);
}

.birbankicontwo {
    width: 40px;
    height: 50px;
    margin-top: -20px;
}

.divuno p {
    margin-top: 5px;
}

.divdos p {
    margin-top: 16px;
}

.transparent {
    color: transparent;
}

.deposit {
    width: 44px;
    height: 44px;
    margin-top: -22px;
}

.divtres p {
    margin-top: 16px;
}

.divcuatro p {
    margin-top: 20px;
}

.marketicon {
    margin-top: -26px;
}

.megafon {
    width: 50px;
    height: 50px;
    margin-top: -30px;
}

.divcinco p {
    margin-top: 18px;
}

.firstsclwpart div:hover {
    transform: scale(1.05);
}

.second {
    width: 100%;
    height: 600px;
}

.scndsecup {
    width: 100%;
    height: 378px;
    padding-top: 200px;
    padding-left: 165px;
}

.scndsecup .upp {
    font-size: 32px;
    cursor: default;
}

.lwp {
    width: 570px;
    font-size: 16px;
    margin-top: 20px;
    line-height: 24px;
}

.scndseclwr {
    width: 100%;
    height: 210px;
    display: flex;
    cursor: default;
    padding-top: 37px;
    padding-left: 165px;
    background-color: var(--gray);
}

.pink {
    font-size: 26px;
    font-weight: 600;
    color: var(--pink);
}

.order {
    width: 280px;
    height: 55px;
    border: none;
    font-size: 22px;
    cursor: pointer;
    border-radius: 8px;
    color: var(--white);
    background-color: var(--pink);
}

.bonus {
    font-size: 14px;
    margin-top: 11px;
    margin-bottom: 26px;
}

.scndseclwrmid{
    display: flex;
    margin-left: 67px;
}

.sslwrmdrght{
    margin-left: 88px;
}

.birbankcard{
    width: 320px;
    height: 320px;
    margin-top: -182px;
    margin-left: -14px;
}

.thrdscp{
    font-size: 34px;
    padding-top: 56px;
    padding-left: 570px;
}

.third{
    height: 1000px;
}

.thrdsclp{
    margin-top: 18px;
    padding-left: 570px;
}

.thrdsclwr{
    width: 100%;
    height: 257px;
    display: flex;
    background-color: var(--gray);
}

.thrdscup{
    height: 170px;
}

.dailyloan{
    margin-top: -141px;
    margin-left: 102px;
}

.thrdscmdlft{
    margin-top: 74px;
    margin-left: 20px;
}

.one{
    margin-bottom: 9px;
}