* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --black: rgb(0, 0, 0);
    --red: rgb(182, 29, 41);
    --hover: rgb(239, 62, 66);
    --pink: rgb(244, 83, 105);
    --gray: rgb(232, 236, 241);
    --white: rgb(255, 255, 255);
    --light-gray: rgb(244, 244, 244);
}

header{
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1520px;
    margin: auto;
}

.headuppart {
    width: 100%;
    height: 65px;
    display: flex;
    padding-left: 50px;
    align-items: center;
    background-color: var(--red);
}

.headmidpart {
    width: 100%;
    height: 88px;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0px 180px 0px 166px;
    background-color: var(--white);
    justify-content: space-between;
}

.headlowpart {
    width: 100%;
    height: 63px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--gray);
    justify-content: space-between;
}

.headuppart p {
    height: 100%;
    display: flex;
    font-size: 15px;
    color: var(--white);
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.hdlwprtbtn{
    width: 100px;
    height: 32px;
    border: none;
    display: flex;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    position: relative;
    border-radius: 8px;
    align-items: center;
    margin-right: 166px;
    color: var(--white);
    justify-content: center;
    background-color: var(--pink);
}

.hdlwprtbtn:hover{
    background-color: var(--hover);
}

.bbiconspan{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 12px;
    font-size: 16px;
}

.birbankicon{
    left: 3px;
    width: 32px;
    height: 52px;
    position: absolute;
}

.headuppart span {
    color: var(--red);
}

.timer div {
    width: 46px;
    height: 47px;
    border-radius: 6px;
    background-color: var(--white);
}

.timer div p {
    display: flex;
    font-size: 10px;
    color: var(--red);
    margin-right: 2px;
    align-items: center;
    justify-content: center;
}

.timer div h1 {
    display: flex;
    font-size: 20px;
    margin-top: 5px;
    color: var(--red);
    margin-right: 1px;
    align-items: center;
    justify-content: center;
}

.timer {
    gap: 4px;
    width: 37%;
    height: 100%;
    display: flex;
    color: var(--red);
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.timer p {
    font-size: 20px;
    margin-top: -15px;
    color: var(--white);
}

.uppartbtn {
    width: 176px;
    height: 28px;
    border: none;
    display: flex;
    display: flex;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
    color: var(--red);
    margin-left: 145px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.headerlogo {
    top: 22%;
    width: 210px;
    height: 42px;
    position: absolute;
}

.hmrul {
    width: 395px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.hmrul li a {
    font-size: 13px;
    color: var(--black);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.headmidright {
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hmrbtn {
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.headlowpart .mainul {
    width: 1022px;
    height: 100%;
    display: flex;
    font-size: 12px;
    padding-left: 165px;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.headlowpart .mainul .anim {
    height: 100%;
    display: flex;
    list-style: none;
    padding-right: 17px;
    align-items: center;
}

.animspan {
    display: flex;
    align-items: center;
    height: 100%;
}

.headlowpart .mainul .anim:hover .animspan {
    margin-bottom: -3px;
    box-sizing: border-box;
    border-bottom: 4px solid var(--pink);
}

.dropdownn {
    left: 0;
    top: 100%;
    width: 100%;
    height: 282px;
    display: none;
    position: absolute;
    background-color: var(--white);

}

.headlowpart .mainul .anim:hover .dropdownn {
    left: 0;
    top: 100%;
    width: 100%;
    display: flex;
    height: 282px;
    /* display: block; */
    z-index: 999;
    position: absolute;
    background-color: var(--white);
}

.dropdowncontent {
    height: 100%;
    display: flex;
    padding-left: 165px;
}

.dropdownleft {
    gap: 4px;
    width: 60%;
    height: 100%;
    display: flex;
    padding-top: 55px;
}


.ddll a {
    font-size: 13px;
    font-weight: 100;
    color: var(--black);
    text-decoration: none;
}

.ddlr a {
    font-size: 13px;
    font-weight: 100;
    color: var(--black);
    text-decoration: none;
}

.ddll li {
    width: 1000%;
    height: 59%;
    list-style: none;
    align-items: space-between;
}

.ddlr li {
    width: 220%;
    height: 59%;
    margin-left: 150px;
    list-style: none;
    align-items: space-between;
}

.dropdownleft li a:hover {
    color: var(--pink);
}

.ddll {
    width: 20%;
    height: 53%;
    display: flex;
    margin-top: -2px;
    /* position: absolute; */
    flex-direction: column;
}

.ddlr {
    /* width: 80%; */
    height: 72%;
    display: flex;
    margin-top: -2px;
    flex-direction: column;
}

.dropdownright {
    gap: 88px;
    right: 0px;
    width: 42%;
    height: 100%;
    display: flex;
    position: absolute;
    padding: 32px 0 0 42px;
    background-color: var(--light-gray);
}

.txtprt {
    font-family: Arial, Helvetica, sans-serif;
}

.txtprt h1 {
    font-size: 24px;
    font-weight: 500;
}

.txtprt p {
    font-size: 13px;
    line-height: 19px;
}

.fddimg {
    width: 126px;
    height: 200px;
    margin-top: 9px;
}

.ddrplrtfirstbtn {
    border: none;
    width: 200px;
    height: 45px;
    font-size: 15px;
    transition: 0.5s;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--pink);
}

.ddrplrtfirstbtn:hover {
    background-color: var(--hover);
}

.ddrlprt {
    width: 37%;
    height: 89%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
