* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --black: rgb(0, 0, 0);
    --red: rgb(182, 29, 41);
    --pink: rgb(244,83,105);
    --gray: rgb(232, 236, 241);
    --white: rgb(255, 255, 255);
    --light-gray: rgb(244, 244, 244);
}

.headuppart {
    width: 100%;
    height: 65px;
    display: flex;
    padding-left: 50px;
    align-items: center;
    background-color: var(--red);
}

.headmidpart {
    width: 100%;
    height: 88px;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0px 180px 0px 166px;
    background-color: var(--white);
    justify-content: space-between;
}

.headlowpart {
    width: 100%;
    height: 63px;
    position: relative;
    background-color: var(--gray);
}

.headuppart p {
    height: 100%;
    display: flex;
    font-size: 15px;
    color: var(--white);
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.headuppart span {
    color: var(--red);
}

.timer div {
    width: 46px;
    height: 47px;
    border-radius: 6px;
    background-color: var(--white);
}

.timer {
    gap: 4px;
    width: 37%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer p {
    font-size: 20px;
    margin-top: -15px;
    color: var(--white);
}

.uppartbtn {
    width: 176px;
    height: 28px;
    border: none;
    display: flex;
    display: flex;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
    color: var(--red);
    margin-left: 145px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.headerlogo {
    top: 22%;
    width: 210px;
    height: 42px;
    position: absolute;
}

.hmrul {
    width: 395px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.hmrul li a {
    font-size: 13px;
    color: var(--black);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.headmidright {
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hmrbtn {
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.headlowpart .mainul {
    width: 66%;
    height: 100%;
    display: flex;
    font-size: 12px;
    /* position: relative; */
    padding-left: 165px;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.headlowpart .mainul .anim {
    height: 100%;
    display: flex;
    list-style: none;
    padding-right: 15px;
    align-items: center;
}

.animspan{
    display: flex;
    align-items: center;
    height: 100%;
}

.headlowpart .mainul .anim:hover .animspan {
    margin-bottom: -3px;
    box-sizing: border-box;
    border-bottom: 4px solid var(--pink);
}

.dropdownn {
    display: none;
    left: 0;
    top: 100%;
    width: 100%;
    height: 282px;
    /* display: block; */
    position: absolute;
    background-color: var(--white);

}

.headlowpart .mainul .anim:hover .dropdownn {
    left: 0;
    top: 100%;
    width: 100%;
    display: flex;
    height: 282px;
    display: block;
    position: absolute;
    background-color: var(--white);
}

.dropdowncontent {
    height: 100%;
    display: flex;
    padding-left: 165px;
}

.dropdownleft {
    gap: 4px;
    width: 60%;
    height: 100%;
    display: flex;
    padding-top: 55px;
}


.ddll a {
    font-size: 13px;
    font-weight: 100;
    color: var(--black);
    text-decoration: none;
}

.ddlr a {
    font-size: 13px;
    font-weight: 100;
    color: var(--black);
    text-decoration: none;
}

.ddll li {
    height: 59%;
    list-style: none;
    align-items: space-between;
}

.ddlr li {
    width: 120%;
    height: 59%;
    list-style: none;
    align-items: space-between;
}

.dropdownleft li a:hover {
    color: var(--pink);
}

.ddll {
    width: 20%;
    height: 53%;
    display: flex;
    margin-top: -2px;
    flex-direction: column;
}

.ddlr {
    width: 22%;
    height: 72%;
    display: flex;
    margin-top: -2px;
    flex-direction: column;
}

.dropdownright {
    right: 0;
    gap: 88px;
    width: 43%;
    height: 100%;
    display: flex;
    position: absolute;
    padding: 32px 0 0 42px;
    background-color: var(--light-gray);
}

.txtprt {
    /* width: 36%; */
    font-family: Arial, Helvetica, sans-serif;
}

.txtprt h1 {
    font-size: 24px;
    font-weight: 500;
}

.txtprt p {
    line-height: 19px;
}

.fddimg {
    width: 126px;
    height: 200px;
    margin-top: 9px;
}

.ddrplrtfirstbtn{
    border: none;
    width: 200px;
    border-radius: 10px;
    height: 45px;
    color: var(--white);
    background-color: var(--pink);
    transition: 0.5s;
    font-size: 15px;
}

.ddrplrtfirstbtn:hover{
    background-color: var(--red);
}

.ddrlprt{
    width: 37%;
    height: 89%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first{
    background-color: var(--gray);
    width: 100%;
    margin-top: 2px;
    height: 100vh;
}